{{#if hasBlock}}
{{else}}
{{/if}}

<div class="stupid-switch-wrapper" {{action 'toggleClick'}}>
  <input type="checkbox" class="stupid-switch {{name}}"
    checked={{isChecked}} disabled={{isDisabled}}>
  <label class="stupid-switch-label">
    <input type="text" class="stupid-switch-name" value={{name}} title={{title}} disabled>
  </label>
</div>
